<%- include("partials/header") -%>

<h1> <%= wishwelly.title %></h1>

<% lists.forEach(list => { %>
    <h3><%= list.storeName %></h3>
    <div class="grid-container">
        <% list.items.forEach(item => { %>
            <div class="grid-item">
                <div class="image-container">
                    <img class="image" src= "<%= item.imgURL %>" alt="NA">
                </div>
                <div>
                    <h5 class=item-details><%= item.name %></h5>
                    <p class=item-details><%= item.price %></p>      
                </div>    

            </div>
        <% }); %>
    </div>
<% }); %>

<%- include("partials/footer") -%>