<%- include("partials/header") -%>

<h1 class="center-text list-title"> <%= wishwelly.title %></h1>
<% const link = "/collections/" + slug; %>
<p>
    <a href=<%= link %>>View public wishlist</a>
</p>
<div class="edit">
    <form method="get" action="./new">
        <div>
            <label for="newLink">Import new list</label>
            <input type="text" id="newLink" name="newLink" placeholder="Link to new list" required>
            <input type="submit" value="Add list">
        </div>

    </form>
</div>

<div class="inline-flex">
    <form method="get" class="filter flex-column">
        <h5>Filter By</h5>
        <div class="checkbox-container flex-column">
            <div class="filter-section">
            <label class="label-title">Store Name</label>
            <% storeFilters.forEach(store => { %>
                <div>
                    <input onChange="this.form.submit()" type="checkbox" name="store" id=<%= store %> value=<%= store %> <%= selectedStores?.includes(store) ? "checked" : ""%>>
                    <label for=<%= store %>> <%= store %></label>
                </div>
            <% }); %>            
            </div>

            <div class="filter-section">
                <label class="label-title">Tag</label>
                <div>
                    <input onChange="this.form.submit()" type="checkbox" name="tag" id="clothing" value="clothing" >
                    <label for="clothing">Clothing</label>            
                </div>
                <div>
                    <input onChange="this.form.submit()" type="checkbox" name="tag" id="electronics" value="electronics">
                    <label for="electronics">Electronics</label>        
                </div>
                <div>
                    <input onChange="this.form.submit()" type="checkbox" name="tag" id="decor" value="decor">
                    <label for="decor">Decor</label>            
                </div>
            </div>

        </div>
    </form>

    <div class="body">
        <div class="margins">
            <% stores.forEach(store => { %>
                <h3 class="store"><%= store.name %></h3>
                <% store.lists.forEach(list => { %>
                    <div class="grid-container">
                    <% list.items.forEach(item => { %>
                        <div class="grid-item">
                            <a class="noDecor" href= <%= item.link %> target="_blank">
                                <div class="image-container">
                                    <img class="image" src= "<%= item.imgURL %>" alt="NA">
                                </div>                            
                            </a>
                            <div class="details-container">
                                <form method="post" id="editItem" action="/items/<%= item._id %>">
                                    <textarea name="editName" class="item-details"><%= item.name %></textarea>                             
                                    <p class=item-details>$<%= item.price %></p> 
                                    <input type="submit" value="Save"/>     
                                </form>
                            </div>    
                        </div>
                    <% }); %>
                    </div>
                <% }); %>
            <% }); %>
        </div>
    </div>
</div>


<%- include("partials/footer") -%>