<%- include("partials/header") -%>
<%= console.log("errorCode", errorCode); %>
<% if(errorCode === "unknown-site") {%>
    <div class="alert alert-danger center-text error" role="alert">
        Unable to add site! Please only add Amazon wishlists (<em>amazon.com</em>) and Etsy collections (<em>etsy.com</em>).
    </div>
<% } %>


<h1 class="center-text list-title"> <%= wishwelly.title %></h1>
<% const link = "/collections/" + slug; %>
<div class="edit">
    <% if (lists.length != 0) { %>
        <p>
            <a class="link-style" href=<%= link %>>View public wishlist</a>
        </p>
    <% } %>

    <div class="flex-options">
        <form class="form-block" method="get" action="./new">
            <label for="newLink">Import new list</label>
            <input type="text" id="newLink" name="newLink" placeholder="Link to new list" required>
            <input class="button" type="submit" value="Add list">
        </form>
        <div class="form-block">OR</div>
        <form class="form-block" method="get" action="./new">
            <label for="demo-links">Import a demo link: </label>
            <select name="newLink" id="demo-links" required>
                <option value="https://www.amazon.com/hz/wishlist/ls/2RAF9Y78RJ8DW?ref_=wl_share">Amazon 1</option>
                <option value="https://www.amazon.com/hz/wishlist/ls/2R80WOFDLF03M?ref_=wl_share">Amazon 2</option>
                <option value="https://www.etsy.com/people/t8e56emk726fqe3q/favorites/wishlist?ref=cl_share_button">Etsy 1</option>
            </select>
            <input class="button" type="submit" value="Add demo list">
        </form>
    </div>
</div>
    

<div class="inline-flex full-width">
    <% if (lists.length != 0) { %>
        <form method="get" class="filter flex-column">
            <h5>Filter By</h5>
            <div class="checkbox-container flex-column">
                <div class="filter-section">
                <label class="label-title">Store Name</label>
                <% storeFilters.forEach(store => { %>
                    <div>
                        <input onChange="this.form.submit()" type="checkbox" name="store" id=<%= store %> value=<%= store %> <%= selectedStores?.includes(store) ? "checked" : ""%>>
                        <label for=<%= store %>> <%= store %></label>
                    </div>
                <% }); %>            
                </div>

                <!-- <div class="filter-section">
                    <label class="label-title">Tag</label>
                    <div>
                        <input onChange="this.form.submit()" type="checkbox" name="tag" id="clothing" value="clothing" >
                        <label for="clothing">Clothing</label>            
                    </div>
                    <div>
                        <input onChange="this.form.submit()" type="checkbox" name="tag" id="electronics" value="electronics">
                        <label for="electronics">Electronics</label>        
                    </div>
                    <div>
                        <input onChange="this.form.submit()" type="checkbox" name="tag" id="decor" value="decor">
                        <label for="decor">Decor</label>            
                    </div>
                </div> -->

            </div>
        </form>
    <% } %>

    <div class="body">
        <div class="margins">
                <% lists.forEach(list => { %>
                    <div id=<%= "list-" + list._id %>>
                        <div class="store-header">
                            <h3 class="store"><%= list.storeName %></h3>
                            <div>
                                <a class="link-style" href=<%= list.url %> target="_blank"><%= list.url %></a> 
                                <%= console.log("current list id:", list._id ); %>
                                <img id="delete" src="/media/delete.png" data-list-to-delete=<%= list._id %> title="Remove entire list">                                
                            </div>

                        </div>
                        <div class="grid-container">
                        <% list.items.forEach(item => { %>
                            <div class="grid-item">
                                <a class="noDecor" href= <%= item.link %> target="_blank">
                                    <div class="image-container">
                                        <img class="image" src= "<%= item.imgURL %>" alt="NA">
                                    </div>                            
                                </a>
                                <div id="edit-form" class="details-container">
                                    <form name="editItem" id="editItem" action="" data-update-path=<%= "/" + list._id + "/" + item._id %>>
                                        <textarea id="editName" name="editName" class="item-details center"><%= item.altName %></textarea> 
                                        <div class="item-footer">
                                            <p>$<%= item.price %></p> 
                                            <input class="button" id="submit-button" type="submit" value="Save"/> 
                                        </div>                            
                                    </form>
                                </div>    
                            </div>
                        <% }); %>
                        </div>
                    </div>
                    
                <% }); %>
        </div>
    </div>
</div>


<%- include("partials/footer") -%>