<%- include("partials/header") -%>

<h1 class="center-text list-title"> <%= wishwelly.title %></h1>

<div class="edit">
    <form method="get" action="./new">
        <div>
            <label for="newLink">Import new list</label>
            <input type="text" id="newLink" name="newLink" placeholder="Link to new list" required>
            <input type="submit" value="Add list">
        </div>

    </form>
</div>
<div>
    <p>
        <br>
        Here are the items from the list that was just added
        <br>
    </p>
</div>
<div class="inline-flex">
    <div class="body">
        <div class="margins">
            <% lists.forEach(list => { %>
            <h3 class="store"><%= list.storeName %></h3>
            <div class="grid-container">
                <% list.items.forEach(item => { %>
                    <div class="grid-item">
                        <a href= <%= item.link %> target="_blank">
                            <div class="image-container">
                                <img class="image" src= "<%= item.imgURL %>" alt="NA">
                            </div>                            
                        </a>

                        <div class="details-container">
                            <a href= <%= item.link %> target="_blank">
                                <h5 class=item-details><%= item.name %></h5>
                            </a>
                            
                            <p class=item-details>$<%= item.price %></p>      
                        </div>    
                    </div>
                <% }); %>
            </div>
            <% }); %>
        </div>
    </div>
</div>

<%- include("partials/footer") -%>