<%- include("partials/header") -%>

<h1 class="center-text list-title"> <%= wishwelly.title %></h1>

<div class="edit">    
    <p>
        Here are all the items from the imported <%= list.storeName %> list: 
    </p>
    <a href= "edit" class="no-decor">
        <input class="button" type="button" value="Edit full wishlist"></input>
    </a>
    <a href="." class="no-decor">
        <input class="button" type="button" value="View full wishlist"></input>
    </a>     
</div>
<div class="inline-flex">
    <div class="body no-filter">
        <div class="margins">
            <div class="grid-container">
                <% list.items.forEach(item => { %>
                    <div class="grid-item">
                        <a class="no-decor" href= <%= item.link %> target="_blank">
                            <div class="image-container">
                                <img class="image" src= "<%= item.imgURL %>" alt="NA">
                            </div>                            
                        </a>

                        <div class="details-container">
                            <a class="no-decor" href= <%= item.link %> target="_blank">
                                <h5 class=item-details><%= item.name %></h5>
                            </a>
                            
                            <p class=item-details>$<%= item.price %></p>      
                        </div>    
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
</div>

<%- include("partials/footer") -%>